* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-class {
    display: flex;
    border-bottom: 1px dotted black;
    padding: 20px 0 20px 0;
}

.btn-add-style {
    margin: 0 10px 0 0;
    padding: 7px 12px;
    background: rgb(250, 231, 231);
    border: 1px solid black;
    border-radius: 3px; 
    cursor: pointer;
}

#app {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(214, 191, 167);
    position: relative;
    padding: 10px 0 60px 0;
}

.btn-style-all {
    border: none;
    background: none;
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.left-div {
    margin: 0 40px 0 0;
}

.left-div input {
    margin: 0 5px 10px 0;
}

.right-div input {
    margin: 0 5px 8px 5px;
}

.right-div {
    display: flex;
    flex-direction: column-reverse;
}

.right-div button {
    margin: 0 0 0 5px;
}

input {
    border: none;
    padding: 10px 2px;
    border-radius: 4px;
    background: rgb(253, 233, 233);
    border: 1px solid black;
    margin: 0 0 5px 0;
}

h1 {
    margin: 0 0 20px 0;
}

.info-flex {
    display: flex;
    border-bottom: 1px dotted black;
}

.info-flex h2 {
    margin: 0 80px 10px 0;
}

.info-flex h2:nth-child(2) {
    margin: 0 125px 0 0;
}

.position-div {
    position: absolute;
    bottom: 0;
    margin: 30px 0 0 0;
}

ul {
    list-style-type: none;
}

li {
    margin: 0 50px 0 0;
}

.small {
    font-size: 12px;
}









